[submodule "modules/FreeRTOS"]
	path = modules/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "modules/cmsis"]
	path = modules/cmsis
	url = https://github.com/ARM-software/CMSIS_5
